<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Scalar</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="brand" href="#">The Scalar Project</a>

                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        Logged in as <a href="#" class="navbar-link">Username</a>
                    </p>

                    @*
                    <div class="float-right">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </div>
                    *@
                    <ul class="nav">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            @RenderSection("featured", required: false)

            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">1 - SVG Basics</li>
                        <li class="active">@Html.ActionLink("Deep Dive", "DeepDive", "Home")</li>
                        <li class="nav-header">2 - Creating and Editing SVG Graphics</li>
                        <li>@Html.ActionLink("Basic Shapes", "BasicVectorShapes", "Home")</li>
                        <li>@Html.ActionLink("Paths", "Paths", "Home")</li>
                        <li>@Html.ActionLink("Reuse and Patterns", "ReuseAndPatterns", "Home")</li>
                        <li>@Html.ActionLink("Case Study", "CaseStudy", "Home")</li>
                        <li class="nav-header">3 - Adding Text, Style, and Transforms</li>
                        <li>@Html.ActionLink("Text", "Text", "Home")</li>
                        <li class="nav-header">4 - Motion and Interactivity</li>
                        <li class="nav-header">5 - SVG Filters</li>
                        <li class="nav-header">6 - SVG Tools and Resources</li>
                        <li class="nav-header">7 - Case Studies</li>
                    </ul>
                </div>
            </div>

            <div class="span9">
                @RenderBody()
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; @DateTime.Now.Year - Scalar Foundation</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

           @*@media (max-width: 980px) {
                /* Enable use of floated navbar text */
                .navbar-text.pull-right {
                    float: none;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }*@